#slide1{
    left: 0%;
}
#slide2{
    left:100%
}
#slide3{
    left: 200%
}
#slide4{
    left: 300%
}
#slide5{
    left: 400%
}
.move-left {
    left: -800px;
}
.move-right {
    right: -800px;
}
.visible {
    transform:
    visibility: visible;;
}